doctype html
html(data-use-rem)
  head
    meta(charset="utf-8")
    meta(name="format-detection", content="telephone=no")
    meta(name="viewport", content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
    meta(name="description",content="")
    meta(name="keywords",content="")
    title performance test
    link(rel="stylesheet",href="../css/index.css")
  body(ontouchstart="")
    //- script(src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.js")
    script(src="https://cdn.jsdelivr.net/npm/vconsole@latest/dist/vconsole.min.js")
    script.
      var vConsole = new VConsole();
    script(src="../js/pixi.min.js")
    script(src="../js/Math2.js")
    script(src="../js/bunnyBenchMark.js")
    script(src="../js/perf.js")